.notfound {
  text-align: center;
  margin-top: 50px;

  h1 {
    font-size: 100px;
    color: #ff6060;
  }

  p {
    font-size: 18px;
    color: #333;
    margin: 20px 0;
  }

  a {
    font-size: 16px;
    color: white;
    background-color: #ff6060;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #e34e4e;
    }
  }
}
