.main {
  &__gallery {
    &--thumb {
      max-width: 1240px;
      background-color: $colour-bckgd;
      border-radius: $border-rad;
      margin-top: 43px;
      margin-bottom: 2rem;
      @include large {
        margin: 20px;
      }
      @include small {
        margin-top: 20px;
        background-color: white;
      }
    }
    &--cards {
      max-width: 1240px;
      display: grid;
      place-items: center;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(auto, 1fr);
      // grid-template-columns: auto auto auto;
      grid-gap: 3rem;
      padding: 2rem;
      @include large {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        // grid-template-columns: auto auto;
        padding: 50px;
        grid-gap: 4rem;
      }
      @include medium {
        padding: 1rem;
        grid-gap: 1.5rem;
      }
      @include small {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto, 1fr);
        // grid-template-columns: auto;
        grid-gap: 1.2rem;
        padding: 0px;
      }
    }
  }
}
