@use "../../styles/utils/_mixins" as *;
@use "../../styles/utils/_variables" as *;

.carousel {
  width: 100%;
  position: relative;
  @include medium;
  &__container {
    width: 100%;
    height: 100%;
  }
  &__pix {
    height: 415px;
    position: relative;
    border-radius: $border-rad;
    overflow: hidden;
    @include medium {
      width: 768px;
      height: 335px;
    }
    @include small {
      height: 255px;
      img {
        height: 100%;
      }
    }
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }
  }
  &__counter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2%;
    font-size: 1.3rem;
    color: white;
    padding: 20px;
    @include medium {
      display: none;
    }
  }
  &__button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &--arrowPrevious {
      @include sliderArrow;
    }
    &--arrowNext {
      @include sliderArrow;
    }
    @include medium {
      width: 748px;
      left: 0;
      transform: translateY(-50%);
    }
    @include small {
      width: 355px;
    }
  }
}
