/* .footer SCSS styling:
   - Organizes the footer container
   - Defines responsive breakpoints
   - Adjusts layout for different screen sizes
*/

@use "../../styles/utils/_mixins" as *;
@use "../../styles/utils/_variables" as *;

.footer {
  &__container {
    width: 100%;
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: 0px;
    background-color: black;

    /* Logo container link in the footer */
    &--logo {
      margin: 2rem 0rem 2rem 0rem;
    }

    /* Footer text styling */
    &--title {
      color: white;
      margin-bottom: 1.5rem;
    }

    /* Small breakpoint for layout adjustments */
    @include small {
      height: 150px;
      gap: 15px;

      &--logo {
        width: 100px;
        margin: 0px;
      }

      &--title {
        font-size: 0.7rem;
        margin: 0px;
      }
    }
  }
}
