@use "../../styles/utils/_variables" as *;
@use "../../styles/utils/_mixins" as *;

.main {
  &__errorPage {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    &--type {
      font-size: 16rem;
      font-weight: 700;
      padding-top: 6rem;
      padding-bottom: 4rem;
      margin: 0px;
      @include small {
        font-size: 8rem;
        margin-top: 100px;
      }
    }
    &--title {
      font-size: 2rem;
      text-align: center;
      margin: 0px;
      @include small {
        width: fit-content;
        font-size: 1.5rem;
      }
    }
    &--link {
      font-size: 1rem;
      padding-top: 10rem;
      text-decoration: underline;
      margin: 0px;
    }
  }
}
