@use "../../styles/utils/_variables" as *;
@use "../../styles/utils/_mixins" as *;

* {
  max-width: 1440px;
  margin: auto;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  @include small {
    padding: 0 10px;
  }
}
